<hr>
<br>
<div class="col-xl-5">
  <h4><%=t('task_list.new.latest')%></h4>
<div class="list-group">
  <% @last_list_tasks.each do |task_list| %>
  <a href= <%= task_list_url(task_list) %> class="list-group-item list-group-item-action">
      <%= task_list.name %>
      <span class="badge badge-pill badge-info float-right"><%= task_list.tasks.count %></span>
    </a>
  <% end %>
</div>
</div>
