<br>
<h2 align="center">Editing Task List</h2>
<%= render 'form', task_list: @task_list %>
<br>

<%= link_to 'Show', @task_list %> |
<%= link_to 'Back', task_lists_path %> | 
<%= link_to 'Destroy', @task_list, method: :delete, data: { confirm: 'Are you sure?' } %>
