<h1>Editing Task List</h1>

<%= render 'form', task_list: @task_list %>
<br>
<%= link_to 'Destroy', @task_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg btn-block"%>
<br>
<%= link_to 'Show', @task_list %> |
<%= link_to 'Back', task_lists_path %>
