<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2016 - Cristian Giambruni under MIT License </p>

    <a href="https://github.com/kity-linuxero/todorails" class="navbar-btn btn-danger btn pull-right"></a>
  </div>


</div>
