<div class="navbar navbar-fixed-bottom bg-inverse" style="max-height: 48px;">
  <div class="container">
    <p class="navbar-text float-xs-left text-muted">© 2016 - Cristian Giambruni under MIT License
    <a href="https://github.com/kity-linuxero/todorails">
      <%= image_tag("github.png", size: "24") %>
    </a></p>
  </div>


</div>
