<% unless notice.nil? %>
<small>
<p class="alert alert-info" role="alert" id="notice" style="display:none">
<%= notice %>
</p>
</small>
<script>$('#notice').show(500).delay(2500).hide(800)</script>
<%end%>
